@model string
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport", content="width=device-width, initial-scale=1.0">
    <title>ASP.NET Core Authorization Request</title>
  </head>
  <body>
    <a href=@Model>Sign In</a>
  </body>
</html>